.supt-cffc__file {
	button {
		cursor: pointer;
		background-color: #edeff0;
		color: #32373c;
		width: 100%;
		position: relative;
		text-align: center;
		border: 1px dashed #b4b9be;
		box-sizing: border-box;
		padding: 4px 6px;
		line-height: 1.6;

		max-width: 305px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		display: block;
	}
}
